@model EmployeeRecords

<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add New Employee    
            </h2>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div> <div class="mb-3">
            <label>Phone</label>
            <input asp-for="Phone" class="form-control"/>
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div> 
        <div class="mb-3">
            <label>Designation</label>
            <input asp-for="Designation" class="form-control" />
            <span asp-validation-for="Designation" class="text-danger"></span>

        </div> 
        <div class="mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>


            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control mt-4">Add</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-secondary form-control mt-4">Back</a>
                </div>
            </div>
       </div>
     </div>
</form>

@section Scripts{
    @{
        <partial name ="_ValidationScriptsPartial"/>
    }
}