@model EmployeeRecords

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<form method="post" style="display: flex; align-items: center; justify-content: center; height: 80vh;">
    <input asp-for="EmployeeId" hidden />
    <div class="border pt-3 mt-4" style="width: 600px; padding: 20px; border: 1px solid #ccc; background-color: #f2f2f2; border-radius: 5px; margin: auto;">
        <div class="row pb-2">
            <h2 class="text-danger" align="center">
                DELETE
            </h2>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" disabled class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div> <div class="mb-3">
            <label>Phone</label>
            <input asp-for="Phone" disabled class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label>Designation</label>
            <input asp-for="Designation" disabled class="form-control" />
            <span asp-validation-for="Designation" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label>Address</label>
            <input asp-for="Address" disabled class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>


            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-danger form-control mt-4"><span class="bi bi-x"> DELETE</span></button>
                </div>
                <div class="col-6">
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-primary form-control mt-4">
                        <span class="bi bi-arrow-left-short"> BACK</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
