@model MyWebApplicationCRUD.Models.EmployeeRecords

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Welcome, @ViewBag.Name</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Employee" asp-action="Login" class="btn btn-danger" style="margin-left:495px;">
                <span class="bi bi-power"> Logout</span>
            </a>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 50vh; text-align: center;">
        @if (ViewBag.DataFound)
        {
            <form style="border: 2px solid #ccc; padding: 20px; border-radius: 5px; background-color: #f8f8f8; width: 600px;">
                <h2 style="margin-bottom: 6px;color:#f5a878; font-family:Algerian;">YOUR DETAILS</h2>
                <h2 style="margin-bottom: 20px; color:#f5a878;">****************************</h2>

                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="width: 100px; text-align: left;">Name</label><span style="text-align:right">:</span>
                    <span style="margin-left: 10px; ">@Model?.Name</span>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="width: 100px; text-align: left;">Email</label><span style="text-align:right">:</span>
                    <span style="margin-left: 10px;">@Model?.Email</span>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="width: 100px; text-align: left;">Phone</label><span style="text-align:right">:</span>
                    <span style="margin-left: 10px;">@Model?.Phone</span>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="width: 100px; text-align: left;">Designation</label><span style="text-align:right">:</span>
                    <span style="margin-left: 10px;">@Model?.Designation</span>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="width: 100px; text-align: left;">Address</label><span style="text-align:right">:</span>
                    <span style="margin-left: 10px;">@Model?.Address</span>
                </div>
            </form>
            <div style="margin-top: 20px; font-family:'Bell MT'; font-style:italic;font-size:large;">

                <p style="color:forestgreen;"><b>Hope you are doing well....</b></p>
                <p style="color:forestgreen;"><b>Please check your details in the details section and ensure that all the information is up to date. If you need to make any changes, please contact the HR department for assistance.</b></p>
                <p style="color:forestgreen;"><b>If you have any questions or need further support, feel free to reach out to our customer service team.</b></p>

            </div>
        }
        else
        {
            <div style="margin-left: 20px; font-weight: bold; font-size: 35px; font-style: italic;">
                <span style="color:red;">No data found for your ID.....</span><br />
                <span style="color:red;">Employee has been removed.....</span><br />
                <span style="color:aquamarine; font-size:20px;">(If you have any questions or concerns regarding your account, please don't hesitate to reach out to the HR department.)</span>
            </div>


        }
    </div>
</div>

