@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <style>
        h1 {
            color: #3366CC; 
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #FF0000; 
            font-family: Verdana, sans-serif;
        }

        p {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<h1>@ViewData["Title"]</h1>
<p>Thank you for visiting our website. This page outlines our privacy policy to provide you with information on how we collect, use, and protect your personal data. We understand the importance of privacy and are committed to safeguarding your information.</p>
<h2>Information We Collect</h2>
<p>When you interact with our website, we may collect certain personal information from you. This information may include your name, email address, contact details, and any other information you voluntarily provide to us through contact forms or other means of communication.</p>

<h2>Data Security</h2>
<p>We take data security seriously and implement appropriate measures to protect your personal information from unauthorized access, alteration, or disclosure. We use industry-standard security protocols, encrypted communication channels, and regularly update our security practices to ensure the safety of your data.</p>
<h2>Cookie Policy</h2>
<p>We use cookies on our website to enhance your browsing experience and gather information about how you use our site. You can manage your cookie preferences through your browser settings. For more information, please refer to our Cookie Policy.</p>
<h2>Your Rights</h2>
<p>You have certain rights regarding your personal information, including the right to access, update, or delete your data. If you wish to exercise any of these rights or have any questions or concerns about our privacy practices, please contact us using the information provided below.</p>
<p>We are committed to protecting your privacy and will respond to any requests or concerns promptly and appropriately.</p>